/*styles/7-places.css */
.places { /* Add places class */
    display: flex; /* Add display flex */
    flex-flow: row wrap; /* Add flex-flow */
    justify-content: space-around; /* Add justify-content */
}

.places h1{ /* Add h1 tag */
    text-align: left; /* Add text align */
    font-size: 30px; /* Set font size to 30px */
    display: block; /* Add display block */
    flex-grow: 2; /* Add flex-grow */
    width: 100%; /* Set width to 100% */
    margin-left: 1em; /* Add margin left */
}

.places article { /* Add article tag */
    width: 390px; /* Set width to 390px */
    padding: 20px; /* Add padding */
    margin: 20px; /* Add margin */
    border: 1px solid #FF5A5F; /* Add border */
    border-radius: 4px; /* Add border radius */
}

.places article h2 { /* Add h2 tag */
    font-size: 30px; /* Set font size to 30px */
    text-align: center; /* Add text align */
    margin-top: 0.175em; /* Add margin top */
}